:root {
    --purple-0: #7c26ec;
    --pink-0: #dc3da8;
    --black-0: #080708;
    --black-1: #09050d;
    --white-0: #fff;
    --green-0: #20e1a3;
    --gray-0: #aaa6ac;
}

body {
    background-color: var(--black-1);
    font-family: 'Inter', sans-serif;
    color: var(--white-0);
}